.main-container {
  margin: 20px auto 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--medDark);
  padding: 40px 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header img {
  width: 50px;
}

.hero {
  padding-top: 40px;
}

.searchbar-container {
  position: relative;
  max-width: var(--maxWidth);
  width: 65%;
  height: 55px;
  background: var(--medDark);
  margin: 0 auto 30px auto;
  border-radius: 40px;
  color: var(--white);
}

.searchbar-container img {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 30px;
}

.searchbar-container input {
  font-size: var(--fontBig);
  position: absolute;
  left: 0;
  margin: 8px 0;
  padding: 0 0 0 60px;
  border: 0;
  width: 100%;
  background: transparent;
  height: 40px;
  color: var(--white);
  outline: none;
}

.searchbar-container input::placeholder {
  color: var(--lightGrey);
}

.cuisines {
  margin: 0 auto;
  max-width: 650px;
}

.cuisines button {
  cursor: pointer;
  border: none;
  background-color: var(--lightGrey);
  color: var(--superDark);
  border-radius: 10px;
  padding: 3px 6px;
  letter-spacing: 1px;
}

.cuisines button:not(:first-child) {
  margin-left: 10px;
  margin-bottom: 10px;
}

.recipe-thumb {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  animation: thumbEaseIn 1.5s;
  margin: 40px 40px 0 40px;
}

.recipe-thumb img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.spinner {
  border: 5px solid var(--lightGrey);
  border-top: 5px solid var(--medDark);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}

.error-message {
  font-size: 2rem;
}

button.selected {
  background-color: var(--superDark);
  color: var(--lightGrey);
}

.main-container.recipe-details {
  position: relative;
}

.recipe-details h1 {
  text-decoration: underline;
}

.recipe-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recipe-details .back-to-home {
  position: absolute;
  left: 10px;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 0 20px;
}

.details-instructions,
.details-ingredients {
  text-align: initial;
}

.recipe-details .details-brief-info span {
  padding-left: 5px;
  padding-right: 5px;
}

.details-icon {
  animation: showHideIcons 3s infinite ease-in-out;
}

.details-image {
  margin: auto;
}

.details-image img {
  max-width: 100%;
}

.recipe-details button {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px;
  border: none;
  color: var(--medDark);
  background: var(--white);
  border: 1px solid var(--medDark);
}

.details-info {
  border-left: 2px solid var(--lightGrey);
  padding-left: 20px;
}

.recipe-details button.active {
  background: var(--medDark);
  color: var(--white);
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes thumbEaseIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showHideIcons {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}