:root {
  --maxWidth: 1280px;
  --white: #fff;
  --lightGrey: #eee;
  --medDark: #282c34;
  --superDark: #242526;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  color: var(--superDark);
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: var(--maxWidth);
}